@page
@model BookShop.Web.Areas.Identity.Pages.Account.Manage.PleaseConfirmEmailModel
@{
}

<body>
    <p class="alert-dark">
        Email sent. Please confirm your email by clicking o the sent link.
    </p>
</body>